
<style>

html, body {
		box-sizing: border-box;
	}
	*{
		box-sizing: inherit;
	}
	html, body, h1, h2, h3, h4, h5, h6, p, img{
		padding: 0;
		margin: 0;
	}
	.clearfix{
		overflow: auto;
	}

h1{
	font-family: 'Varela Round', sans-serif;
	font-size: 70px;
	color: #60b2a8;
	text-align: left;
	
	margin-top: 30px;
	padding-bottom: 15px;
	border-bottom: solid 4px #641368;

}



.color{
	color: #fca52a;
}


img{

	max-width: 100%;
	margin: auto 0 ;
	position: relative;
	margin-top: 700px;
	margin-bottom: 220px;
	

}



p{
	font-family: 'Varela Round', sans-serif;
	text-align: left;
	margin-left: 350px;
	margin-right: 350px;
	position: absolute;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 50px;
}



}

body {

	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	color: black;
	text-align: left;
	margin: auto 0;
	text-decoration: none;
}



nav li {
	max-width: 125px;
	padding: 5px;
	margin-top: 30px;
	font-family: 'Varela Round', sans-serif;
	text-decoration: none;
	border: 2px solid #97c444 ;
	list-style-type: none;
	position: relative;

}



a{
	text-decoration: none;
	color: #60b2a8;
}

a:hover {
	color: #fca52a;


}


@media screen and (min-width:320px) {nav li { max-width:160px; font-size: 18px; margin-right: 0px; margin-left: 70px;}
h1{
		font-size: 30px;
		margin-left: 15px;
}  

p{
	position: absolute;
	margin:auto 0;
	max-width: 50%;
	font-size: 12px;
	line-height: 20px;
	margin-top: 250px;
	margin-left: 100px;

}



}
@media screen and (min-width:600px) {nav li { max-width:125px;font-size: 18px; margin-right:  0px; margin-left: 0px; }
h1{

 	font-size: 40px;
 	margin-left: 25px;
}  

p{
	position: absolute;
	margin:auto 0;
	max-width: 50%;
	font-size: 12px;
	line-height: 20px;
	margin-left: 220px;
	margin-top: 30px;

}

  
}
@media screen and (min-width:700px) {.nav li { max-width:125px;font-size: 18px; margin-right: 20px; margin-left: 0px;}
h1{

 	font-size: 60px;
 	margin-left: 30px;
}  

p{
	position: absolute;
	margin:auto 0;
	max-width: 50%;
	font-size: 16px;
	line-height: 24px;
	margin-left: 270px;
	margin-top: 30px;

}

 

@media screen and (min-width:800px) {.nav li { max-width:125px;font-size: 18px;margin-right: 20px;margin-left: 0px;}
h1{

 	font-size: 70px;
 	margin-left: 40px;
}  


p{
	position: absolute;
	margin:auto 0;
	max-width: 50%;
	font-size: 18px;
	line-height: 26px;
	margin-left: 300px;
	margin-top: 30px;

}
@media screen and (min-width:900px) {nav li { max-width:125px;font-size: 20px; margin-right: 10px; margin-left: 0px;}
h1{

 	font-size: 70px;
 	margin-left: 40px;
} 

p{
	position: absolute;
	margin:auto 0;
	max-width: 50%;
	font-size: 18px;
	line-height: 28px;
	margin-left: 350px;
	margin-top: 30px;

}

@media screen and (min-width:1000px) {nav li { max-width:125px;font-size: 20px;margin-right: 10px; margin-left: 0px; }
h1{

 	font-size: 70px;
 	margin-left: 40px;
} 

  








</style>
